<div id="moviesWrapper">

  <a routerLink="{{movie.movie_id}}" *ngFor="let movie of movieFullList">
      <div class="card" [ngStyle]="{'background-image': 'url(../../../assets/thumb/' + movie.thumbnail_url + ')'}">
          <div class="card-info">
              <div class="movie-detail movie-title"><span class="title">{{ movie.title }}</span></div>
              <div class="movie-detail movie-duration">
                <span>&#9733; {{ movie.star_rating }} | </span>
                <span class="movie-genre">{{ movie.genres[0] }} | </span>
                <span class="movie-genre">{{ movie.genres[1] }} | </span>
                <span class="movie-genre">{{ movie.genres[2] }} </span>
  
              </div>
              <div class="movie-detail movie-genres">
                <span class="match"> 74% Match  </span>|
                <span> {{ movie.duration | duration}}</span>
              </div>
              
          </div>
        </div>
    </a>
  
  </div>