
    div.loading p{
        font-size: 20;
        font-weight: 600;
        text-align: center;
        margin: 0;
    }
    div.loading{
        background-color: #FFD036;
        background-color: rgb(80, 179, 255);
        color:#222;
        padding: 10px;
    }
  main {
    background-color: #1d1d1d;
    padding-bottom: 20px;
    min-height: 700px;
  }
  #featured-show {
    height: 75vh;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(83, 83, 83, 0.45)), to(rgba(83, 83, 83, 0.45))), url("../../../../assets/flash.jpg");
    background: linear-gradient(rgba(83, 83, 83, 0.45), rgba(83, 83, 83, 0.45)), url("../../../../assets/flash.jpg");
    background-size: cover;
    color: whitesmoke;
    padding-top: 20%;
    padding-left: 5%;
    margin-bottom: 20px;
    text-shadow: 0px 0px 10px #33333382;
  }
  
  #featured-show h1 {
    opacity: .9;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 0 5px 0;
    font-size: 50px;
    display: flex;
    align-items: center;
  }

  #featured-show h1 .star, .review-container .star{
      color: #FFD036;
      font-size: 35px;
      margin-left: 10px
  }

  #featured-show h1 .rating{
      font-weight: normal;
      font-size: 30px;
      margin-left: 5px;
  }
  
  #featured-show .featured-details span {
    margin-right: 15px;
    font-size: 20px;
  }

  #featured-show .featured-details .match {
    color: #80E759; 
  }

  #featured-show .featured-details .pg-rating {
    background-color: #212121;
    padding: 2px 5px;
    border: #333 1px solid;
    font-size: 18px;
  }
  
  #featured-show .btn, #reviewForm .btn {
    border-radius: 2px;
    border: none;
    color: #222;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 20px;
    transition: .2s;
    margin-top: 10px;
    font-size: 16px;
  }
  
  #featured-show .btn-primary, #reviewForm .btn-primary {
      background-color: #FFD036;
      margin-right: 20px;
}
#featured-show .btn-primary:hover {
      background-color: rgb(218, 169, 9);  
}

.movie-details-container{
    margin: 50px 5% 20px;
    color: white;
}

.movie-details-container>div{
    padding: 0;
}

.movie-details-container h4{
    font-weight: bold;
    margin: 0 0 5px 0;
}

.movie-details-container p{
    opacity: 0.8;
    font-family: 400;
    margin-bottom: 30px;
}

.movie-details-container .movie-information p{
    width: 90%;
}

.share-icons{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.share-icons img{
    width: 10%;
    margin-top: 5px;
    margin-right: 15px;
    cursor: pointer;
}

.add-review-container, #allReviews{
    margin: 50px 5%;
    color: white;
}

.add-review-container h4, #allReviews h4{
    font-weight: bold;
}
#more-shows{
    font-weight: bold;
    color: whitesmoke;
    margin-left: 60px;
}

#reviewForm{
    background-color: #4d4d4d;
    padding: 20px;
    border-radius: 5px;
}

#reviewForm label{
    font-weight: normal;
    margin-bottom: 5px;
}

#starRatingSelect{
    margin-left: 10px;
    color: black;
}

.spoilers-div p{
    display: inline-block;
    margin-right: 20px;
}

.spoilers-div label{
    margin-left: 10px;
}

.review-container{
    background-color: #E6E6E6;
    color: #4D4D4D;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.review-container .star{
    font-size: 24px;
    margin-left: 0;
    margin-right: 10px;
    text-shadow: 0px 0px 1px #33333340;
}

.review-container .movie-rating p{
    font-size: 20px;
}

.review-container p{
    display: inline-block;
}

.review-container h4{
    font-weight: normal !important;
    margin: 0;
}

.review-container .review-info{
    opacity: 0.6;
    font-size: 11px;
} 

.review-container .review-info span{
    margin-right: 10px;
}

.review-container>p{
    margin-top: 10px;
    font-weight: 300;
    font-size: 14px;
    opacity: 0.9;
}

