<main>
  <div id="featured-show" class="container">
    <div class="featured-info">
      <div class="featured-title text-left">
        <h1>THE AVENGERS: ENDGAME
            <span class="star">&#9733;</span>
            <span class="rating">9.5</span>
        </h1>
      </div>
      <div class="featured-details text-left">
        <span class="match m-r-15">73% match</span>
        <span class="pg-rating m-r-15">13 +</span>
        <span class="production-year m-r-15">2019</span>
      </div>
      <button class="btn btn-primary">Watch Now</button>
    </div>
  </div>

  <div class="row movie-details-container">
    <div class="movie-information col-xs-12 col-sm-8">
      <h4>STORY</h4>
      <p>After the devastating events of Avengers: Infinity War (2018), the universe is in ruins. With the help of remaining allies, the Avengers assemble once more in order to undo Thanos' actions and restore order to the universe.</p>
      <h4>CAST</h4>
      <p>Robert Downey Jr., Chris Evans, Mark Ruffalo</p>
      <h4>DIRECTORS</h4>
      <p>Christopher Markus, Stephen McFeely</p>
    </div>
    <div class="movie-facts col-xs-12 col-sm-4">
        <h4>GENRE</h4>
        <p> Action, Adventure, Sci-Fi</p>
        <h4>SHARE</h4>
        <div class="share-icons">
          <img src="../../../../assets/social-media-icons/facebook.png">
          <img src="../../../../assets/social-media-icons/email.png">
          <img src="../../../../assets/social-media-icons/twitter.png">
        </div>
    </div>
  </div>

  <!-- insert slider here -->


  <!-- add a review -->
  <div class="add-review-container">
    <h4>LEAVE A REVIEW</h4>
    <form action="" id="reviewForm">
      <div class="form-group">
        <label for="starRatingSelect">Your rating</label>
        <select name="starRating" id="starRatingSelect">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
      </div>
      <div class="form-group">
        <label for="reviewHeadline">Add a headline</label>
        <input id="reviewHeadline" type="text" name="reviewHeadline" class="form-control">
      </div>
      <div class="form-group">
        <label for="reviewContent">Write your review</label>
        <textarea id="reviewContent" name="reviewContent" class="form-control"> </textarea>
      </div>
      <div class="spoilers-div">
        <p>Does this review contain spoilers?</p>
        <label>
          <input type="radio" name="containsSpoilers" id="spoilerTrue" value="Yes" >
            Yes
        </label>
        <label>
          <input type="radio" name="containsSpoilers" id="spoilerFalse" value="No" checked>
            No
        </label>
      </div>
      <div class="form-group text-right">
          <button class="btn btn-primary">SUBMIT</button>
      </div>
    </form>
  </div>


  <!-- reviews -->
  <div class="" id="allReviews">
    <h4>REVIEWS</h4>
    <div class="review-container">
      <div class="movie-rating">
        <span class="star">&#9733;</span>
        <p><strong>10</strong>/10</p>
      </div>
      <h4>One of the most stunning shows on television</h4>
      <div class="review-info">
        <span>by paulday98</span>
        <span>19 April 2011</span>
      </div>
      <p>Do not believe any of those negative reviews. I honestly cannot understand why some reviewers have given this such a low rating. I think some people love the sound of their own voice and think their opinion is worth something and will be disagreeable simply for the sake of it.
        Having said that, this show is stunning. I have never read the books and now I want to. There is so much crap on TV that is renewed year after year (CSI, House etc.) which uses cheap gags, pointless and sometimes ridiculous plots, unbelievable and many times one dimensional characters and yet all the truly great shows get cancelled.</p>
    </div>
  </div>



</main>