<main>
    <div id="featured-show" class="container">
        <div class="featured-info">
            <h1>Ghost in the Shell</h1>
            <!-- <p>
                In the near future, Major Mira Killian is the first of her kind: A human saved from a terrible crash, who is cyber-enhanced to be a perfect soldier devoted to stopping the world's most dangerous criminals.
            </p> -->
            <p id="subtitle">
                Premiere on August 14
            </p>
            <a href="#/portal/movies/HLRgq4OSQ26s6qTk20hd" class="btn btn-primary">See More</a>
            <button class="btn btn-secondary">+ My list</button>
        </div>
    </div>
    <div class="show-section">
        <h3>New Shows</h3>
        <app-slider [movieList]="movieListNew" [parent]="'movies'"></app-slider>
    </div>
    <div class="show-section">
        <h3>Trending</h3>
        <app-slider [movieList]="movieListPopular"></app-slider>
    </div>
    <div class="show-section">
          <h3>My List</h3>
          <app-slider [movieList]="movieList"></app-slider>
    </div>
</main>