<main>
    <div id="featured-show" class="container">
        <div class="featured-info">
            <h1>The Flash</h1>
            <p>New episodes every Tuesday</p>
            <button class="btn btn-primary">Watch Now</button>
            <button class="btn btn-secondary">+ My list</button>
        </div>
    </div>
    <div class="show-section">
        <h3>New Shows</h3>
        <app-slider [movieList]="movieListNew"></app-slider>
    </div>
    <div class="show-section">
        <h3>Trending</h3>
        <app-slider [movieList]="movieListPopular"></app-slider>
    </div>
    <div class="show-section">
          <h3>My List</h3>
          <app-slider [movieList]="movieList"></app-slider>
    </div>
</main>