* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  main {
    background-color: #1d1d1d;
    padding-bottom: 20px;
  }
  
  h2 {
    color: whitesmoke;
  }
  
  .scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
  
  .scrolling-wrapper .card {
    display: inline-block;
  }
  
  .scrolling-wrapper-flexbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: auto;
  }
  
  .scrolling-wrapper-flexbox .card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin-right: 3px;
  }
  
  .card {
    border: 3px solid #222;
    border-radius: 2px;
    width: 300px;
    height: 175px;
    background: url("../../../assets/flash.jpg");
    background-size: cover;
    position: relative;
    color: white;
    -webkit-transition: .5s;
    transition: .5s;
  }
  
  .card:hover {
    border-color: #FFD445;
    cursor: pointer;
  }
  
  .card:hover .card-info, .card:hover .card-info p {
    opacity: 1;
  }
  
  .card-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.5)));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.5) 100%);
    padding-left: 10px;
    padding-right: 10px;
    opacity: .8;
    -webkit-transition: .2s;
    transition: .2s;
  }
  
  .card-info h4 {
    -webkit-transition: .2s;
    transition: .2s;
    margin: 0;
    font-size: 18px;
    font-weight: 600;
  }
  
  .card-info p {
    -webkit-transition: .2s;
    transition: .2s;
    opacity: 0;
  }
  
  .scrolling-wrapper, .scrolling-wrapper-flexbox {
    position: relative;
    height: 175px;
    margin-bottom: 20px;
    width: 100%;
    -webkit-overflow-scrolling: touch;
  }
  
  .scrolling-wrapper::-webkit-scrollbar, .scrolling-wrapper-flexbox::-webkit-scrollbar {
    display: none;
  }
  
  .show-section h3 {
    margin-left: 60px;
    color: whitesmoke;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
  }
  
  .slider-wrapper {
    padding-right: 60px;
    padding-left: 60px;
    width: 100%;
    margin: 20px 0px;
    position: relative;
  }
  
  .slider-wrapper .carousel-control.left,
  .slider-wrapper .carousel-control.right {
    background-image: none;
    width: 60px;
  }
  
  .slider-wrapper .carousel-control {
    color: black;
  }
  
  #featured-show {
    height: 75vh;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(83, 83, 83, 0.45)), to(rgba(83, 83, 83, 0.45))), url("../../../assets/flash.jpg");
    background: linear-gradient(rgba(83, 83, 83, 0.45), rgba(83, 83, 83, 0.45)), url("../../../assets/hero/hero_ghost_in_the_shell.jpg");
    background-size: cover;
    color: whitesmoke;
    padding-top: 20%;
    padding-left: 5%;
    margin-bottom: 20px;
  }
  
  #featured-show h1 {
    opacity: .9;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 0;
  }
  
  #featured-show p {
    font-size: 18px;
    color: #FFD036;
    margin-bottom: 15px;
  }
  
  #featured-show .btn {
    border-radius: 2px;
    border: none;
    color: #222;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 20px;
    transition: .2s;
  }
  
#featured-show .btn-primary {
      background-color: #FFD036;
      margin-right: 20px;
}
    
#featured-show .btn-primary:hover {
      background-color: rgb(218, 169, 9);  
}
   
#featured-show .btn-secondary:hover {
        background-color: rgb(182, 181, 181);
}
  
.featured-info>p{
  width: 900px;
}

  @media only screen and (max-width: 768px) {
    .slider-wrapper{
        padding-left: 10px;
        padding-right: 0;
    }
    .show-section h3{
        margin-left: 15px;
    }
  }