<div id="movies-filter-panel">

      <div class="movies-filter">
        <div class="movies-filter-label"><span>Filter by Genre:</span></div>
        <select class="movies-filter-control genre" [(ngModel)]="filterGenres" name="Genres">
            <option value="">All Genres</option>
            <option selected="selected" value="action">Action</option>
            <option value="sci-fi">Sci-Fi</option>
            <option value="adventure">adventure</option>
            <option value="comedy">Comedy</option>
            <option value="family">Family</option>
            <option value="drama">Drama</option>
            <option value="mystery">Mystery</option>
            <option value="thriller">Thriller</option>
            <option value="romance">Romance</option>
            <option value="cyberpunk">Cyberpunk</option>
            <option value="crime">Crime</option>
            <option value="fantasy">Fantasy</option>
        </select>
      </div>
  
      <input class="movies-filter-control search" type="text" [(ngModel)]="searchText" placeholder="search">
      
</div>

<div id="moviesWrapper">

<a routerLink="{{movie.movie_id}}" *ngFor="let movie of movieFullList | search : searchText | genre : filterGenres">
    <div class="card" [ngStyle]="{'background-image': 'url(../../../assets/thumb/' + movie.thumbnail_url + ')'}">
        <div class="card-info">
            <div class="movie-detail movie-title"><span class="title">{{ movie.title }}</span></div>
            <div class="movie-detail movie-duration">
              <span>&#9733; {{ movie.star_rating }} | </span>
              <span class="movie-genre">{{ movie.genres[0] }} | </span>
              <span class="movie-genre">{{ movie.genres[1] }} | </span>
              <span class="movie-genre">{{ movie.genres[2] }} </span>

            </div>
            <div class="movie-detail movie-genres">
              <span class="match"> 74% Match  </span>|
              <span> {{ movie.duration | duration}}</span>
            </div>
            
        </div>
      </div>

  </a>

</div>